@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    This is a comment
    in multiple lines
*@

<h2 class="mb-3 text-center">Movies</h2>

@Html.ActionLink("Add movie", "New", "Movies", new { }, new { @class = "btn btn-md btn-primary" })
<hr/>

<table class="table table-bordered text-center w-100" id="movie-table">
   <thead>
       <tr class="table-dark">
           <th> Name </th>
           <th> Genre </th>
           <th> Release Date </th>
           <th> Number In Stock </th>
           <th> Available Copies </th>
           <th> Actions </th>
       </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            // DataTable
            var table = $('#movie-table').DataTable({
                ajax: {
                    url: '/api/movies',
                    dataSrc: ''
                },
                columns: [
                    { data: 'name' },
                    { data: 'genre.name' },
                    {
                        data: 'releaseDate',
                        render: function (data, type, object) {

                            var date = new Date(data);
                            var dateTimeFormat = new Intl.DateTimeFormat('en', { year: 'numeric', month: 'short', day: '2-digit' });
                            var [{ value: month }, , { value: day }, , { value: year }] = dateTimeFormat.formatToParts(date);

                            return `${day}-${month}-${year }`;
                        }
                    },
                    { data: 'numberInStock' },
                    { data: 'numberAvailable' },
                    {
                        data: 'id',
                        orderable: false,
                        searchable: false,
                        render: function (data, type, object) {
                            return '<div>' +
                                '<a href="/Movies/Edit/' + data + '" class="btn btn-sm btn-secondary mr-1 mb-1"> Edit </a>' +
                                '<a href="/Movies/Details/' + data + '" class="btn btn-sm btn-primary mr-1 mb-1"> Details </a>' +
                                '<button class="btn btn-sm btn-danger btn-delete-movie mr-1 mb-1" data-movie-id="' + data + '"> Delete </button>' +
                                '</div>';
                        }
                    }
                ]
            });

            // Delete click
            $('#movie-table').on('click', '.btn-delete-movie', function () {

                var btn = $(this);
                var id = btn.attr('data-movie-id');

                bootbox.confirm({
                    message: "Are you sure you want to delete this movie?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/api/movies/' + id,
                                method: 'DELETE',
                                success: () => {
                                    
                                    table.row(btn.parents('tr')).remove().draw();
                                    toastr.info(`Movie with id '${id}' was deleted successfully.`);
                                }
                            })
                        }
                    }
                });

            });

        });
    </script>
}
