@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Model.Name</h2>
    <hr/>
    <ul>
        <li> Membership Type: @Model.MembershipType.Name </li>
        <li> Birthdate: @Html.DisplayFor(m => m.Birthdate) </li>
    </ul>
    @Html.ActionLink("Back to list", "Index", new { }, new { @class = "btn btn-sm btn-secondary" })
</div>