* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    min-height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound .notfound-404 {
    height: 190px;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 146px;
    font-weight: 700;
    margin: 0px;
    color: #232323;
}

.notfound .notfound-404 h1 > span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-image: url('./Images/emoji.png');
    background-size: cover;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: -1;
}

.notfound h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #232323;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    font-weight: 300;
}

.notfound a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 0 1px 4px 1px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    background-color: #f99827;
    color: #fff;
    border-color: #c87617;
    text-decoration: none;
}

.notfound a:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
    background-color: #e48d29;
    border-color: #d3852c;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 115px;
    }

    .notfound .notfound-404 h1 {
        font-size: 86px;
    }

    .notfound .notfound-404 h1 > span {
        width: 86px;
        height: 86px;
    }
}
