* {
    box-sizing: border-box !important;
}

body {
    color: #52656B;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #3B4B50;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.field-validation-error, label.error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.input-validation-error, input.error {
    border-color: #dc3545;
}

.navbar-brand {
    color: #fff;
}

.navbar > .container > .navbar-collapse > ul > .nav-item > .nav-link:hover {
    color: white;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #ffffff;
    background-color: #52656B;
    border-color: #52656B;
}

.pagination > li > a, .pager > li > a, .pagination > li > span, .pager > li > span {
    text-transform: none;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.form-control {
    -webkit-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .10s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #58b6da;
}
