<appSettings>
  <!--
      Only for demonstration.
      <add key="MailServer" value="dev-smtp.vidly.com" />
    -->
  <add key="FacebookAppId" value="589830661959529" />
  <add key="FacebookAppSecret" value="f307f5de479764c322eb74a93cef0106" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>